<html>
    <head>
        <title>FinnKesa's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog of FinnKesä</a></h1>
        </div>

        <div>
            <p>This website is created 14th of September 2019</p>
        </div>

        <div>
            {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
        </div>

        <div>
            <h2>Things about FinnKesä:</h2>
            <ul>
                <li>A Youtuber</li>
                <li>A Finnish</li>
                <li>Speaks English and Finnish</li>
                <li>Loves Her Friends</li>
                <li>Is Really Competitive</li>
                <li>Is Happy To Have You Here</li>
            </ul>
        </div>

        <div>
                <em>Latest Video: </em><a href="https://www.youtube.com/watch?v=fAdftaqwQ9I">Here</a>

        </div>

        <div>
            <em>Go Check Out My Chanel: </em><a href="https://www.youtube.com/channel/UCs_c_5Yaw2PeJrjUAeLKw4A/featured?view_as=subscriber">Here</a>

        </div>
    </body>
</html>
